@import url('https://fonts.googleapis.com/css?family=Poppins=100,200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.container_our{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: visible;
}

.container_our .section__srv{
	position: relative;
	width: 100%;
	height: 100vh; 
	background-blend-mode: multiply;
}

#head__our {
    height: 20vh;
    width: 100%;
    background: #202020;
    background-position: right;
    filter: brightness(105%);
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#head__our h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    padding-top: 8vh;
}

.container_our .section__srv:nth-child(2){
	background:  gray url(/folder/img/ourservice/1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container_our .section__srv:nth-child(3){
	background: gray url(/folder/img/ourservice/2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container_our .section__srv:nth-child(4){
	background: gray url(/folder/img/ourservice/3.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container_our .section__srv:nth-child(5){
	background: gray url(/folder/img/ourservice/4.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container_our .section__srv:nth-child(6){
	background: gray url(/folder/img/ourservice/5.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container_our .section__srv:nth-child(7){
	background: gray url(/folder/img/ourservice/6.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.container_our .section__srv .content__srv{
	position: absolute;
	top: 25%;
	left: 50px;
	max-width: 600px;
}

.container_our .section__srv .content__srv2 {
	position: absolute;
	top: 25%;
	left: 100vh;
	right: 50px;
	max-width: 600px;

}

.container_our .section__srv .content__srv h2{
	color: #fff;
	font-weight: 600;
	display: inline-block;
	padding: 0px 0;
	font-size: 3em;
}



.container_our .section__srv .content__srv p{
	color: #fff;
	font-weight: 300;
	font-size: 1.3em;
	max-width: 100%;
	display: inline-block;
	padding: 10px 0;
}



.container_our .section__srv .content__srv2 .text-right1-h2{
	color: #fff;
	font-weight: 600;
	display: inline-block;
	padding: 0px 0px;
	font-size: 3em;
	text-align: right;
}

.container_our .section__srv .content__srv2 .text-right1{
	color: #fff;
	font-weight: 300;
	font-size: 1.3em;
	display: inline-block;
	padding: 10px 0px;
	text-align: right;
	
}

.enter {
	padding-top: 520vh;
}







/* 


@media (max-width: 640px) {

	.container_our .section__srv .content__srv{
		position: absolute;
		bottom: 140px;
		left: 0px;
		
	}
	
	#head__our {
        height: 15vh;
        width: 100%;
        background-size: auto;
    }

    #head__our h1 {
        font-size: 1.5rem;
        padding-top: 6vh;
    }

	.container_our .section__srv .content__srv h2{
		color: #fff;
		text-align: center;
		font-weight: 600;
		display: inline-block;
		padding: 0px 45px;
		font-size: 2em;
	}
	
	.container_our .section__srv .content__srv p{
		color: #fff;
		font-weight: 300;
		font-size: 1em;
		max-width: 100%;
		text-align: center;
		display: inline-block;
		padding: 50px 40px;
		margin-top: 10px;
	}

	.container_our .section__srv:nth-child(1){
		background: gray url(/folder/img/ourservice/bg.jpg);
		background-size: cover;
		height: 50vh;
		background-position: center;  
		background-attachment: fixed;
	}

	.container_our .section__srv .content__srv2 .text-right1-h2{
		color: #fff;
		text-align: center;
		font-weight: 600;
		display: inline-block;
		padding: 0px 45px;
		font-size: 2em;
	}
	
	.container_our .section__srv .content__srv2 .text-right1{
		color: #fff;
		font-weight: 300;
		font-size: 1em;
		max-width: 100%;
		text-align: center;
		display: inline-block;
		padding: 50px 40px;
		margin-top: 10px;
	}


	.container_our .section__srv .content__srv2{
		position: absolute;
		bottom: 140px;
		left: 0px;
		
	}

	.enter {
		padding-top: 513vh;
	}
	
}


 */







@media screen and (max-width: 1060px){
	
.container_our{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: visible;
}

.container_our .section__srv{
	position: relative;
	width: 100%;
	height: 70vh; 
	background-blend-mode: multiply;
}

#head__our {
    height: 20vh;
    width: 100%;
    background: #202020;
    background-position: right;
    filter: brightness(105%);
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#head__our h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    padding-top: 8rem;
}


.container_our .section__srv .content__srv{
	position: absolute;
	top: 30%;
	left: 50px;
	max-width: 600px;
}

.container_our .section__srv .content__srv2 {
	position: absolute;
	top: 30%;
	left: 30vh;
	right: 50px;
	max-width: 600px;

}

.container_our .section__srv .content__srv h2{
	color: #fff;
	font-weight: 600;
	display: inline-block;
	padding: 0px 0;
	font-size: 3.5em;
}



.container_our .section__srv .content__srv p{
	color: #fff;
	font-weight: 300;
	font-size: 1.5em;
	max-width: 100%;
	display: inline-block;
	padding: 10px 0;
}



.container_our .section__srv .content__srv2 .text-right1-h2{
	color: #fff;
	font-weight: 600;
	display: inline-block;
	padding: 0px 0px;
	font-size: 3.5em;
	text-align: right;
}

.container_our .section__srv .content__srv2 .text-right1{
	color: #fff;
	font-weight: 300;
	font-size: 1.5em;
	display: inline-block;
	padding: 10px 0px;
	text-align: right;
	
}

.enter {
	padding-top: 340vh;
}

  }
  











  @media screen and (max-width: 768px){



	.container_our .section__srv .content__srv{
		position: absolute;
		top: 30%;
		left: 0px;
		padding: 0 20px;
	}

	
.container_our{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: visible;
}

.container_our .section__srv{
	position: relative;
	width: 100%;
	height: 100vh; 
	background-blend-mode: multiply;
}

	#head__our {
        height: 15vh;
        width: 100%;
        background-size: auto;
    }

    #head__our h1 {
        font-size: 1.5rem;
        padding-top: 6vh;
    }

	.container_our .section__srv .content__srv h2{
		color: #fff;
		text-align: center;
		font-weight: 600;
		display: inline-block;
		padding: 0px 0px;
		font-size: 1.8em;
	}
	
	.container_our .section__srv .content__srv p{
		color: #fff;
		font-weight: 300;
		font-size: 0.8em;
		max-width: 100%;
		text-align: center;
		display: inline-block;
		padding: 15px 0;
	}

	.container_our .section__srv:nth-child(1){
		background: gray url(/folder/img/ourservice/bg.jpg);
		background-size: cover;
		height: 50vh;
		background-position: center;  
		background-attachment: fixed;
	}


	.container_our .section__srv{
		margin-right: auto;
		margin-left: auto;
	}

	.container_our .section__srv .content__srv2 .text-right1-h2{
		color: #fff;
		text-align: center;
		font-weight: 600;
		display: inline-block;
		padding: 0px 0px;
		font-size: 1.8em;
	}
	
	.container_our .section__srv .content__srv2 .text-right1{
		color: #fff;
		font-weight: 300;
		font-size: 0.8em;
		max-width: 100%;
		text-align: center;
		display: inline-block;
		padding: 15px 0px;
	}


	.container_our .section__srv .content__srv2 {
		position: absolute;
		top: 30%;
		left: auto;
		right: auto;
		padding: 0 20px;
	}

	.enter {
		padding-top: 513vh;
	}
	
}



